<div class="container">

  <div class="card">
  
     
        
      
  <form (ngSubmit)="onSubmit()"  class="form">
  
      
    <h1> Compose Mail </h1>

    <mat-form-field appearance="outline" class="field">
      <mat-label>To</mat-label>
      <input name="to"  [(ngModel)]="data.to" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Subject</mat-label>
      <input  name="subject" [(ngModel)]="data.subject" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
        <mat-label> Enter your Message Here </mat-label>
        <textarea name="message"  [(ngModel)]="data.message" rows="11" matInput placeholder="Enter Here "></textarea>
      </mat-form-field>

    
      
    
  
        <div class="submitbutton">
          <mat-spinner *ngIf="flag" style="margin: auto;">  </mat-spinner>
  <button  [disabled]="flag" type="submit" mat-raised-button color="primary" class="submit">SEND</button>  
  <button type="reset" mat-raised-button color="warn" class="submit">RESET</button>
  
        </div>
      </form>
       {{ data | json}} 
  </div>
  
  </div>
  
  